/* 1. Universal Selector */
* {
    margin: 5px;
    padding: 5px;
}

/* 2. Tag Selector */
h1 {
    color: red;
    border: 1px solid red;
}

/* 3. ID Selector */
#main-box {
    border: 1px solid red;
    padding: 10px;
    color: red;
}

/* 4. Class Selector */
.highlight {
    background-color: pink;
    border: 1px solid red;
    color: red;
}
.second-item {
    color: red;
    font-weight: bold;
    background-color: yellow;
}